# 超大测试数据（超过GitHub 100MB限制）
算法设计与分析/实验/实验5/data/4e6_8e6.txt
算法设计与分析/实验/实验5/data/6e6_12e6.txt
算法设计与分析/实验/实验5/data/8e6_16e6.txt
算法设计与分析/实验/实验5/data.zip
算法设计与分析/实验/实验5/largeG/largeG.txt
算法设计与分析/实验最终版/实验5/data.zip

# 编译产物
算法设计与分析/code_other/分治实验代码/*.exe
